@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&display=swap');


/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    /* left: 18%;
    right: 18%; */


}

/* Navbar Styling starts from here - */
.header {
    display: flex;
}

.navbar {
    /* height: 100px; */
    color: black;
    display: flex;
    position: fixed;
    top: 0%;
    z-index: 1;
    background-color: white;
    /* border-bottom: 2px solid black; */

}


.left_navbar {
    margin: 30px 150px;
    margin-right: 50px;
}

.mid_right {
    display: flex;
    justify-content: space-between;
    width: 1300px;
}

.center_navbar {
    margin-left: 45px;
    /* font-size: 0.7rem; */
}

.center_navbar ul {
    display: flex;
    margin: 0px 50px;
    cursor: pointer;
}

.center_navbar ul:hover {
    display: flex;
    margin: 0px 50px;
    cursor: pointer;
}

.center_navbar ul li>p {
    font-size: 15px;
}

.nav_busticket {
    background-color: #D84E55ed;
    color: white;
    border-radius: 11%;
    list-style: none;
    margin: 30px 8px;
    padding: 8px 12px;
    text-align: center;
    cursor: pointer;
}

.nav_busticket img {
    filter: brightness(0) invert(1);
    opacity: 100%;
}

.nav_cab_train_ticket {
    color: black;
    list-style: none;
    margin: 30px 8px;
    padding: 8px 12px;
    text-align: center;
    cursor: pointer;
}

.nav_cab_train_ticket img {
    filter: grayscale(1) brightness(0);
}

.nav_cab_train_ticket:hover {
    background-color: rgb(234, 231, 231);
    color: black;
    border-radius: 11%;
    transition: 0.5s;
    list-style: none;
    margin: 30px 8px;
    padding: 8px 12px;
    text-align: center;
    cursor: pointer;
}


.right_navbar {
    /* position: absolute; */
    /* right: 5%; */
}

.right_navbar ul {
    display: flex;
    margin: 20px 8px;
    align-items: center;
    justify-content: center;
}

.right_navbar ul li {
    list-style: none;
    border-radius: 8px;
    margin: 30px 8px;
    margin-right: 100px;
    padding: 8px 12px;
    font-size: 18px;
}

.right_navbar img {
    margin: 0px 10px
}

.right_navbar ul li:hover {
    list-style: none;
    border-radius: 8px;
    margin: 30px 8px;
    margin-right: 100px;
    background-color: rgb(234, 231, 231);
    /* border: 1px solid grey; */
    padding: 8px 12px;
    transition: 0.5s;
    cursor: pointer;
}

/* Main styling starts here - */
/* .main_container {} */

.main_container::before{
    content: '';
    background: url('./Images/Homepage.png') no-repeat center center/cover;
    position: absolute;
    top: 140px;
    height: 80%;
    width: 100%;
    z-index: -1;
    aspect-ratio: contain;
    overflow-x: hidden;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 2.3em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    top: 40%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
}

/* .ticket_booking {
    position: absolute;
    top: 50%;
    left: 25%;
    padding: 40px;
    background-color: white;
} */

.ticket_booking>div>input{
    /* border: none; */
    padding: 40px;
}

.main_container>.ticket_booking{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    width: 980px;
    position: absolute;
    top: 50%;
    left: 18%;
    /* right: 18%; */
    /* margin: auto; */

}


.ticket_booking>div{
    display: flex;
    align-items: center;
    /* padding: 0 10px 0 10px; */
    border-right: solid 1px rgb(173, 171, 171);
}

.ticket_booking img {
    height: 30px;
    margin-left: 10px;
}



.ticket_booking>div>input{
    border: none;
    /* outline: none; */
    font-size: 20px;
    font-weight: 500;
    color: gray;
    max-width: 220px;
}

.ticket_booking>div>input:hover{
    border: none;
    /* outline: white; */
    font-size: 20px;
    font-weight: 500;
    color: gray;
    max-width: 220px;
}

.ticket_booking button {
    background-color: #D84E55ed;
    width: 260px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    height: 110px;
    border: none;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 20px 30px;
    cursor: pointer;
}

/* Trending Offers cards Styling */

.trending_offers {
    position: absolute;
    top: 90%;
    left: 13%;
    /* box-sizing: border-box; */
    /* display: flex; */
    background-color: white;
    max-width: 1300px;
    /* height: 330px; */
    padding: 20px;
    border-radius: 30px;
    overflow-y: hidden;
    /* overflow-x: scroll; */
    /* box-shadow: 0px 3px 15px rgba(113, 115,119 , 1); */
}

.trending_offers>.trend_heading{
    display: flex;
    text-transform: uppercase;
    color: #4A4A4A;
    justify-content: space-between;
    margin: 10px 0px;
}

.trending_offers>.trend_heading button {
    padding: 10px 30px;
    color: #1034D9;
    background-color: white;
    border: 1px solid grey;
    border-radius: 45px;
    font-size: 20px;
    cursor: pointer;
}

.main>.trending_offers>.cards_section {
    display: flex;
    overflow: auto;
    max-width: 1100px;

}

.trending_offers>.cards_section>.card1 {
    background-image: linear-gradient(71.04deg, rgb(12, 57, 139) -6.92%, rgb(62, 118, 216) 109.43%);
    color: white;
    min-width: 300px;
    display: flex;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 5px 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.trending_offers>.cards_section>.card2 {
    background-image: linear-gradient(71.04deg, rgb(39, 57, 101) -6.92%, rgb(80, 210, 149) 109.43%);
    color: white;
    display: flex;
    padding: 10px 30px;
    /* border: 2px solid black; */
    border-radius: 20px;
    margin: 5px 15px;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    cursor: pointer;
}

.trending_offers>.cards_section>.card3 {
    background-image: linear-gradient(71.04deg, rgb(72, 0, 4) -6.92%, rgb(216, 78, 85) 109.43%);
    color: white;
    display: flex;
    padding: 10px 30px;
    /* border: 2px solid black; */
    border-radius: 20px;
    margin: 5px 15px;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    cursor: pointer;
}

.trending_offers>.cards_section>.card4 {
    background-image: linear-gradient(71.04deg, rgb(14, 113, 67) -6.92%, rgb(115, 236, 179) 109.43%);
    color: white;
    display: flex;
    padding: 10px 30px;
    /* border: 2px solid black; */
    border-radius: 20px;
    margin: 5px 15px;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    cursor: pointer;
}

.trending_offers>.cards_section>.card5 {
    background-image: linear-gradient(71.04deg, rgb(24, 125, 151) -6.92%, rgb(109, 213, 237) 109.43%);
    color: white;
    display: flex;
    padding: 10px 30px;
    /* border: 2px solid black; */
    border-radius: 20px;
    margin: 5px 15px;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    cursor: pointer;
}

.trending_offers>.cards_section>.card6 {
    background-image: linear-gradient(71.04deg, rgb(206, 119, 0) -6.92%, rgb(255, 194, 111) 109.43%);
    color: white;
    display: flex;
    padding: 10px 30px;
    /* border: 2px solid black; */
    border-radius: 20px;
    margin: 5px 15px;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    cursor: pointer;
}

.trending_offers>.cards_section>.card7 {
    background-image: linear-gradient(71.04deg, rgb(134, 0, 62) -6.92%, rgb(210, 81, 141) 109.43%);
    color: white;
    display: flex;
    padding: 10px 30px;
    /* border: 2px solid black; */
    border-radius: 20px;
    margin: 5px 15px;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    cursor: pointer;
}

.trending_offers>.cards_section>.card8 {
    background-image: linear-gradient(71.04deg, rgb(60, 16, 83) -6.92%, rgb(173, 83, 137) 109.43%);
    color: white;
    display: flex;
    padding: 10px 30px;
    /* border: 2px solid black; */
    border-radius: 20px;
    margin: 5px 15px;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    cursor: pointer;
}

.trending_offers>.cards_section>div>img {
    border-radius: 50%;
    margin: 0px 10px;
}

.cards_section>div>.cards_right {
    flex-direction: row;
    align-items: end;
    justify-content: end;
    margin-left: 0px 15px
}

.cards_section>div>.cards_right>.bus_offer {
    background-color: rgba(225, 235, 244, 0.121);
    border-radius: 45px;
    width: 50px;
    margin: 5px;
    padding: 5px 10px;
    font-size: 1rem;

}

.cards_section>div>.cards_right>.offer_savings {
    padding: 5px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.cards_section>div>.cards_right>.offer_validity {
    font-size: 15px;
    line-height: 1rem;
    font-weight: 400;
    margin: 3px 10px;
    /* padding: 5px 10px; */
}

.cards_section>div>.cards_right>.offer_coupon {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.cards_section>div>.cards_right>.offer_coupon>p {
    display: inline-block;
    background-color: rgba(225, 235, 244, 0.121);
    border: 1px dashed white;
    border-radius: 5px;
    width: 100px;
    margin: 10px;
    padding: 5px;
    font-size: 1rem;
    width: 90px;
}

.refer_and_earn {
    position: absolute;
    top: 1000px;
    left: 15%;
    margin: 80px 0px;
}

.refer_and_earn img {
    width: 1100px;
}

.rental_section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1200px;
    left: 13%;
    margin: 7rem 0;
}

.left_rental_section>h3 {
    font-size: 2.5rem;
    font-weight: lighter;
    line-height: 3.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 35rem;
    /* margin: 0px 20px; */
}

.left_rental_section>b {
    font-weight: 10rem;
}

.rental_heading {
    display: flex;
    margin: 35px 0;
}

.rental_heading>.rentals {
    font-size: 1.2rem;
    /* border: 1px solid; */
    /* background-color: yellow; */
    padding: 8px 12px;
    margin: 5px 10px;
    cursor: pointer;
}

.rental_heading>.rentals:hover {
    list-style: none;
    background-color: rgb(234, 231, 231);
    color: #D84E55;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 8px 12px;
    margin: 5px 10px;
    transition: 0.3s;
}

.rental_heading>.rentals img {
    margin: 0px 15px;
}

.cab_train_rental>p {
    margin: 25px 0px;
    font-size: 1.1rem;
}

.different_rentals>.outstation {
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
}

.different_rentals>.outstation img {
    margin: 5px 15px;

}

.different_rentals>div {
    display: flex;
    align-items: center;
    margin: 10px 5px;
}

.different_rentals>button {
    background-color: #D84E55ed;
    width: 280px;
    font-size: 1.2rem;
    font-weight: bolder;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px 5px;
    margin: 15px 8px;
    cursor: pointer;
}

.rental_section>aside>img {
    filter: brightness(1) invert(0);
    opacity: 1;
    margin: 35px 0;
    /* opacity: 1; */
}

.app_install_container {
    display: flex;
    background: url('./Images/appInstallbg.svg') no-repeat center center/cover;
    color: white;
    position: absolute;
    top: 1900px;
    border-radius: 25px;
    padding: 25px;
    width: 1300px;
    left: 7%;
    margin: 10rem 0;

}

.app_install_container>.rating_container {
    background-color: white;
    color: black;
    width: 325px;
    border-radius: 15px;
    padding: 20px;
    margin: 0 20px;

}

.rating_container>.reviews {
    display: flex;
    margin: 8px;
    font-size: 1.2rem;
}

.rating_container>.reviews img {
    margin: 0px 9px;

}

.rating_container>.downloads {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 10px;
    font-size: 1.2rem;
}

.rating_container>.downloads>div>p {
    margin: 12px 0px;
}

.download_links>p,
.download_links>.app_link>div>p {
    font-size: 1.3rem;
    margin: 15px 0;
}

.download_links>.phone_link>input {
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;

}

.download_links>.phone_link>input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.download_links>.phone_link>button {
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.download_links>.app_link {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px */
}

.app_link>.QR_link {
    /* border: 2px solid black; */
    margin: 10px;
    padding: 20px;
}

.app_link>.store_link {
    /* border: 2px solid black; */
    margin: 10px;
    padding: 20px;
}

.app_link>.store_link>div>img {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.primo_bus_section {
    position: absolute;
    top: 2400px;
    left: 13%;
    margin: 13rem 0;

}

.primo_bus_section>.primo_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.primo_bus_section>.primo_bus_cards {
    display: flex;
    justify-content: center;
    align-items: center;

}


.primo_bus_section>.primo_bus_cards>.bus_quality_cards {
    background-image: linear-gradient(to right, rgb(38, 72, 153), rgb(125, 70, 134));
    color: white;
    display: flex;
    /* justify-content: space-between; */
    /* border: 2px solid black; */
    border-radius: 20px;
    width: 22rem;
    padding: 1.5rem;
    margin: 10px;

}

.primo_bus_cards>.bus_quality_cards>.right_buscard {
    margin: 10px;
    font-size: 1.2rem;
}

.bus_quality_cards>div>p {
    margin-top: 15px;
    font-size: 1rem;
}

.partners {
    position: absolute;
    top: 2900px;
    left: 12%;
    margin-top: 10rem;
}

.partners>.global_presence {
    margin: 80px 0px;
}

.partners>h3,
.global_presence>h3 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.partners>div {
    font-size: 1.7rem;
    /* font-weight: bold; */
    margin: 20px 5px;
}

.partners>.diff_RTC {
    /* position: absolute;
    left: 12%; */
    margin: 40px 0px;
    display: flex;
    justify-content: space-evenly;
}

.partners>.diff_RTC>.RTC_cards>img,
p {
    font-size: 25px;
    /* border-radius: 50%; */
    text-align: center;
    cursor: pointer;
}

.partners>.diff_RTC>:hover {
    cursor: pointer;
    font-size: 25px;
    border-radius: 15px;
    text-align: center;
    background-color: #EAE7E7;
}

.partners>.diff_RTC>.RTC_cards>img {
    height: 7rem;
}

.global_presence {
    /* left: 5%; */
    margin: 10rem 0rem;
    width: 100%;
}

.global_presence>.global_presence_cards {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.global_presence_cards>.global_img>img p:hover {
    /* margin-top: 3rem; */
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: #EAE7E7;
}

.Redbus_summary {
    /* margin: 10rem 0 ; */
}

.Redbus_summary>h2 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.Redbus_summary>.summary {
    width: 1000px;
    text-align: start;
    font-size: 1.2rem;
    font-weight: light;
    box-sizing: border-box;
    overflow: auto;
    margin-top: 30px;
}

.footer {
    margin: 35px 0px;
    /* background-color: lightgrey */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_footer {
    width: 200px;
}

.left_footer>p {
    font-size: 0.9rem;
}

.footer>.left_footer>div img {
    /* font-size: 1rem; */
    margin: 10px 0px;
}

.footer>.right_footer>div>h4 {
    font-size: 1.2rem;
    font-weight: 400px;
}

.footer>.right_footer>div>li {
    font-size: 1rem;
    margin: 10px 0px;
    list-style: none
}

.right_footer {
    width: 740px;
    display: flex;
    justify-content: space-around;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright>div {
    font-size: 1rem
}

.copyright>div>img {
    margin: 0px 15px;

}